  <footer id="footer">
    <nav>
      <ul>
        <li><span>Full Stack JavaScript Cheatsheets</span></li>
        <li>
          <a href="/cheatsheets/">Cheatsheets</a>
        </li>
        <li>
          <a href="/diagrams/">Diagrams</a>
        </li>

        <li>
          <a href="/resources/">Resources</a>
        </li>
        <li>
            <a href="/tools/">Tools</a>
          </li>

        <li>
          <a href="https://www.linkedin.com/in/rosariorussell">Find me on LinkedIn!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Russell Rosario</p>
  </footer>