<footer id="footer">
  <nav>
    <ul>
      <li><span>JavaScripter</span></li>
      <li>
        <a href="/basics/">Basics</a>
      </li>
      <li>
        <a href="/frontend/">Frontend</a>
      </li>
      <li>
        <a href="/backend/">Backend</a>
      </li>
      <li>
        <a href="/devops/">DevOps</a>
      </li>
      <li>
        <a href="/applications/">Applications</a>
      </li>
    </ul>
  </nav>

  <a href="https://www.russellrosario.com">
    <p>&copy; Russell Rosario</p>
  </a>
</footer>