{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/rosariorussell/JavaScripter/archive/master.zip" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a>
    <a class="button outline big" href="https://github.com/rosariorussell/JavaScripter" id="testerButton" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">Over
      100&#9733;
      on Github</a>
    <p>Zip-archive of all notes indexed in README.md</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <center>
      Created by <a class="button inverted small " href="https://www.russellrosario.com">Russell Rosario </a> and
      made public for other junior developers. <mark>Contributions Welcome!</mark>
    </center>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Basics" height="48" src="{{ "/img/icons/basics.svg" | relURL }}" width="48">
        </figure>
        <h3>Basics</h3>
        <p>Computer Science 101</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Frontend" height="48" src="{{ "/img/icons/frontend.svg" | relURL }}" width="48">
        </figure>
        <h3>Frontend</h3>
        <p>HTML, CSS, JavaScript</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Backend" height="48" src="{{ "/img/icons/backend.svg" | relURL }}" width="48">
        </figure>
        <h3>Backend</h3>
        <p>Node, Databases, APIs</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-2 item">

      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="DevOps" height="48" src="{{ "/img/icons/devops.svg" | relURL }}" width="48">
        </figure>
        <h3>DevOps</h3>
        <p>Debugging, Testing, Deployment</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Applications" height="48" src="{{ "/img/icons/applications.svg" | relURL }}" width="48">
        </figure>
        <h3>Applications</h3>
        <p>Big Data, AI, Web scraping, Blockchain</p>
      </div>
      <div class="col col-2 item">

      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}